body {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #d3d3d3, #001f3f);
  background-repeat: no-repeat;
  /* Just in case */
  background-attachment: fixed;
}

.container {
  text-align: center;
}

.header {
  padding: 20px 0;
}

.header-image {
  background-image: url('../images/icenter.png');
  /* Replace with your image */
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

}

.header-image h1 {
  margin: 0;
  line-height: 0.9;
  font-size: 3.5em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background: #00000055;
}

.content-box {
  background-color: white;
  margin: 30px auto;
  width: 90%;
  max-width: 900px;
  padding: 40px;
  box-shadow: 5px 5px 0px black;
}


table {
  font-family: Arial, sans-serif;
  width: 100%;
  margin: auto;
  margin-bottom: 30px;
  border-collapse: collapse;
  border: solid black 2px;
  border-radius: 3px !important;
}

td, th{
  width: 1fr;
  border: solid black 1px;
  padding: 10px;
  margin: 0px;
  box-shadow: none;
}

form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

input{
  width: 1fr;
}